{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": [2, 100, 2],
    "prefer-rest-params": 0
  },
  "ignorePatterns": ["out"]
}
